// pink
$md-accent: rgb(255,64,129);
$md-accent-hue1: #F06292;

// blue-grey
$md-primary: #607D8B;
$md-primary-hue1: #90A4AE;
$md-primary-hue2: #455A64;
$md-primary-hue3: #ECEFF1;

// text colors
$md-primary-text: #212121;
$md-secondary-text: #727272;
$md-primary-divider: #B6B6B6;

// flat ui colors
$emerald: #2ecc71;
$alizarin: #e74c3c;