@import "normalize";
@import "colors";

body {
  color: $md-primary-text;
}

.ng-cloak {
	display: none !important;
}

.title {
  font-size: 24pt;
}

.app-content {
//	display:inline-block; 
}

.topic-list-heading {
	text-align: center;
	text-transform: uppercase;
}

.save-icon {
  font-size: 16pt;
}

.topic-list {
 // background-color: $md-primary-hue2;
}

.topic-list-item {
  background-color: white;
  &.selected {
    background-color: $md-primary-hue3;
  }

  .topic-label {
  	text-transform: uppercase;
  	margin-right: 5px;
  }

  .topic-words {
  	font-style: italic;
  	margin-left: 5px;
  	color: $md-primary-text;
  }
}

.document-list-item {
	.document-name {
		cursor: pointer;
		font-weight: 600;
		&:hover {
			color: $md-accent;
		}
	}
	.document-snippet {
		margin-left: 20px;
		color: $md-primary-hue1;
	}
}

.topic-card {
 // height: 70vh;
}

.topic-panel {
  background-color: $md-primary-hue3;
  height: 100vh;
}
