@import "normalize";
@import "colors";
@import "spinner";

body {
  color: $md-primary-text;
}

.ng-cloak {
	display: none !important;
}

.topic-content {
  padding: 0px;
}

.topic-sub-toolbar {
  background-color:$md-primary-hue3;
//  color: $md-primary;
//border: solid 1px $md-primary;
  text-transform:uppercase;
}

// Uncomment to use a topic list with width based on parent div
// for responsive design (messes up the shadowing, though)
/*md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 0px !important;
    width: auto !important;
    max-width: none !important;
}*/

// Set the width of the topic list here
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 45vw !important;
    max-width: 500px !important;
}

.login-panel {
  width: 450px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;

  .header {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    //margin: auto;
    .mdi {
      font-size:46pt;
      color: $md-accent;
    }
    .text {
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  .info {
    padding: 5px;
    p {
      font-size: 1em;
      line-height: 1.25em;
      margin: 1.25em 0;
      text-align: left;
    }
  }

  .user-input {
    display: block;
    margin: auto;
    width: 400px;
  }

  .submit-button {
    display: block;
    margin: auto;

  }
}

.tutorial-buttons {
  margin-top: 10px;
}

.tutorial-step {
//  font-weight: 600;
  text-transform: uppercase;
  border-bottom: solid 2px $md-primary-hue2;
  padding: 10px;
//  background-color: $md-primary-hue3;
  color: $md-primary-hue2;
  font-size: 18pt;
  text-align: center;
}

// tutorial message
.tutorial-message {
  md-card-title {
    padding: 5px;
    .tutorial-title {
      text-align: center;
      font-weight: bold;
    }
    .tutorial-steps {
      text-align: center;
    }
  }
  ul {
    margin-top:0px;
    padding-left:20px;
  }
  md-card-content {
    padding:5px;
  }

  color: $md-primary-hue2;
  font-size: 14pt;

  .tutorial-command {
//    font-style: italic;
    font-weight: bold;
    color: $md-accent;
  }

  .tutorial-element {
  //  color: $md-accent;
  //  text-decoration: underline;
  //  cursor: pointer;
    &.toggle-doc {
      font-weight: 600;
      &.highlight {
        border: none;
      }
    }

    &.merge-button, &.split-button {
      padding: 0px;
      margin: 0px;
      cursor: default;
    }

    &.trash-button {
      cursor: default;
    }

    &.remove-button, &.remove-doc-button, &.word-undo-button {
      cursor: default;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      right: 4px;
      top: 4px;
      margin-right: 0;
      height: 24px;
      md-icon {
        top:-5px;
        position:relative;
        font-size:18pt;
        color: white;
        fill: white;

        &.highlight {
          border: none;
          padding: 0px;
        }
      }


    }


  }
}

// tutorial highlighting
.highlight {
  &#topicA_ac {
    color: $md-accent;
    border: solid 2px $md-accent;
  }

  &#saveButton, &#clearRefinementsButton {
    border: solid 2px $md-accent;
  }

  &.toggle-doc {
    border: solid 2px $md-accent;
  }

  &.remove-word, &.undo-word, &.remove-doc, &.undo-doc, &#stopWordsButton {
    padding: 10px;
    border: solid 2px $md-accent;
  }

  &.merge-checkmark, &.split-checkmark, &.create-checkmark, &.topic-list-item {
    border: solid 2px $md-accent;
  }

  &#createTopicButton {
    border: solid 2px $md-primary;
  }

  &.undo-merge, &.undo-split{
    border: solid 2px $md-primary;
  }

}


/*.user-input {
  display: block;
  margin: auto;
  width: 300px;
  margin-top: 20px;
  md-icon {
    font-size: 20pt;

color: $md-primary-hue1;   // color: $md-primary-hue3;
    //padding: 2px;
    //background-color: $md-primary-hue1;
  }
  input {
    border: none;
    border: solid 2px $md-primary-hue1;
    outline: none;
    background-color: white;
    padding: 5px;
    &:focus {
      border: solid 2px $md-primary-hue2;
      padding: 5px;
    }
  }
}

.submit-button {
  display: block;
  margin: auto;
}*/

.title {
  font-size: 24pt;
}

.app-content {
//	display:inline-block;
}

.topic-list-heading {
	text-align: center;
	text-transform: uppercase;
  font-size: 12pt;
}

md-toolbar.merge-toolbar, md-toolbar.topic-toolbar {
  background-color: $md-accent;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  md-icon {
    color: white;
  }
}

md-card-title.md-accent {
  background-color: $md-accent;
  color: white;
}

.tutorial-image {
  height:25px;
//  width:75%;

  &.trash {
    padding:5px;
    position: relative;
    left: -40px;
    &.double {
      left: -80px;
    }
  }
}

tutorial {
  //border: solid 5px $md-accent;
  //background-color: $md-accent;
  md-toolbar {
    .md-toolbar-tools {
    }
  }
}

#topicA, #topicB {
  input {
    border-bottom: 1px solid $md-primary;
  }
}

// fix an issue with the dialog box not extending the full amount
md-dialog {
  max-width: 100%;
}

.configure-icon {
  //float: right;
}

.save-icon {
  font-size: 16pt;
}

.topic-list {
 // background-color: $md-primary-hue2;
}

.topic-list-item {
  background-color: white;
  &.selected {
    background-color: $md-primary-hue3;
    border: solid 5px $md-primary-hue3;
  }

  &.renaming {
    border-left: 5px solid $md-accent;
  }

  &.merge {
    background-color: $md-accent;
  }

  &.split {
    margin-top: 5px;
    border-left: 25px solid $md-accent;
  }

  &.deleted {
    opacity:.2;
    background-color:lightgray;
    color:gray;
  }

  .topic-label {
  	text-transform: uppercase;
  	margin-right: 5px;
  }

  .topic-words {
  	font-style: italic;
  	margin-left: 5px;
  	color: $md-primary-text;
  }
  .topic-icon {
    font-size: 16pt;
    &.highlight {
      color: $md-accent;
    }
  }
}

.topic-merge-pair {
  margin-top: 5px;
  margin-bottom: 5px;
 //padding-left:5px;
 //background-color: $md-accent;
 border-left: 25px solid $md-accent;
// position:relative;
 .undo-merge {
  position:absolute;
  float:right;
  margin-top: -10px;
  margin-left: -25px;
  font-size: 16pt;
  .md-icon {
    font-size:16pt;
  }
 }
}

.undo-split {
    position:absolute;
  float:right;
  margin-top: -15px;
  margin-left: -5px;
  font-size: 16pt;
  .md-icon {
    font-size:16pt;
  }
}



md-list-item.document-list-item {
  padding: 5px;
	.document-name {
    width: 10%;
		//cursor: pointer;
		font-weight: 600;
    text-align: center;
		/*&:hover {
			color: $md-accent;
		}*/
    .document-category {
      font-weight: 600;
      font-style: italic;
      font-size: 10pt;
      //background-color: $md-primary-hue1;
      color: $md-primary-hue1;
      //color: white;
      border-radius: 5px;
      padding: 5px;
      display: block;
      word-wrap: break-word;
      text-align: center;
    }
	}
	.document-snippet {
    line-height: 1.2em;
    width: 85%;
		margin-left: 20px;
		color: lighten(black, 20%);
	}
  .toggle-doc {
    font-weight: 600;
    cursor: pointer;
    //font-style: italic;
    &:hover {
      color: $md-accent;
    }
  }
  &.removed {
    text-decoration:line-through;
    color: $md-primary-hue1;
    .document-snippet {
      color: $md-primary-hue1;
    }
  }
}

.satisfaction-slider {
  margin-top: 5px;
  md-slider {
    padding: 0 5px;
  }
}

.topic-card {
  padding: 0;
  margin: 0;
  border: solid 5px $md-primary-hue3;
 md-card-title {
  padding: 0;
 }
}

.topic-refinement-info {
  background-color: $md-primary;
  height: 50px;
  padding: 5px;
  text-transform: uppercase;
  color: white;
}

.topic-panel {
  //background-color: $md-primary-hue1;
  height: 100vh;
  //border: solid 5px $md-primary-hue1;
}

.topic-toolbar {
  margin-bottom: 20px;
}

input.topic-name-input {
  text-transform: uppercase;
 // color: white;
//  border-bottom: none;
 // padding-left: 20px;
}

// custom css for md-dialog boxes to make them not full width and make the confirm button stand out more
md-dialog {
  max-width:80%;
  font-size:14pt;
  line-height:1.5em;
  text-align: justify;
  .md-button.md-confirm-button.md-primary, .md-button.md-confirm-button.md-primary:focus {
    background-color: $md-primary;
    color: white;
    &:hover {
      background-color: $md-primary-hue3;
      color: $md-primary;
    }
  }
}

md-toolbar.topic-list-header {
  .md-toolbar-tools {
    text-align: center;
    background-color: white;
    color: $md-primary-hue2;
    border-bottom: solid 1px $md-primary;
    font-size:16pt;
  }
}

.tutorial-message {
  ul {
    li {
      margin-top:5px;
    }
  }
}

md-chip-template{
  &.added {
   // color: $emerald;
   text-decoration: underline;
  }
  &.removed, &.trashed {
   // color: $alizarin;
    text-decoration: line-through;
    color: $md-primary-hue1;
  }
  &.trashed {
     text-decoration: none;
      position: relative;
      color: $md-primary-hue1;
    &::before, &::after {
        content: '';
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
    }
    &::before {
        border-bottom: 2px solid $md-primary-hue1;
        -webkit-transform: skewY(-10deg);
        transform: skewY(-10deg);
    }
    &::after {
        border-bottom: 2px solid $md-primary-hue1;
        -webkit-transform: skewY(10deg);
        transform: skewY(10deg);
    }
  }
  &.reordered {
    font-style: italic;
  }
  &.hidden {
    padding: 150px;
  }
}

.md-chips md-chip {
  //padding: 2px;
 // margin: 2px;
 // background-color: white;

  &:hover, &:focus, &.md-focused {
  //  background-color: white;
    //color: $md-primary;
    ._md-chip-content {
     // color: $md-accent;
    //  text-decoration: underline;
    }
  }
}

/*.md-chips md-chip:after {
  position: absolute;
  width: 10px;
  height: 10px;
  right: -10px;
  top: 0;
  font-size: 20pt;
  content: ",";
  color: $md-primary-hue2;
}*/


// highlighted word in the topic text
.highlightedText {
    background-color: lighten($md-accent, 20%);
 //   color: white;
}

button.topic-chip-remove, button.doc-remove {
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block;

          position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px;

      md-icon {
        font-size:18pt;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white;
      }

      &:hover {
        background: rgba(255, 0, 0, 0.8);
      }
}

button.doc-remove {
  top: 15px;
  right: 2px;
}

md-chip-template {
  padding-right: 5px;
}

md-chip.dropping:before {
  //content: "↓";
  content: " \2193";
  position: absolute;
  top: -20px;
}

md-chip.dropping--before:before {
  left: -9px;
}

md-chip.dropping--after:before {
  right: -9px;
}

.stop-words {
  font-size: 24pt;
  margin-left: 10px;
  &:hover {
    font-size: 32pt;
  }
}
