<!-- TOOLBAR -->
    <md-toolbar layout="row" class="md-whiteframe-z2">
      <div class="md-toolbar-tools ">
        <h2 flex>
          <md-button class="title" aria-label="go to application home" href="/">ITM</md-button>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
<md-whiteframe class="login-panel md-whiteframe-2dp">
<div class="header">
	<div class="mdi mdi-account-circle"></div>
	<!--<div class="text">Login</div>-->
</div>
<div class="info">
  <p>Thank you for participating in this user study. We are studying how a software system can help people to find themes in a collection of documents. For this study, the documents will be news articles and comments from online discussions. This study session will consist of a task with a short questionnaires before and after. The whole process will take no more than 30 minutes.</p>

 <p>If you agree to participate in this user study, click on the "Agree" button.</p>
</div>
<form class="login-form" ng-submit="submit(user)" flex>
    <md-input-container class="user-input" md-no-float>
        <input ng-model="user" placeholder="enter user name"/>
    </md-input-container>
    <md-button class="md-raised md-primary submit-button" type="submit" aria-label="submit">ACCEPT</md-button>
</form>
</md-whiteframe>
