<!-- TOOLBAR -->
    <md-toolbar layout="row" class="md-hue-2 md-whiteframe-z2">
      <div class="md-toolbar-tools ">
      <!--  <h2 flex>
          <md-button class="title" aria-label="go to application home" href="/">ITM (auto save version)</md-button>
        </h2> -->
        <span flex></span>
      </div>
    </md-toolbar>
<md-whiteframe class="login-panel md-whiteframe-2dp">
<div class="header">
	<div class="mdi mdi-account-circle"></div>
	<!--<div class="text">Login</div>-->
</div>
<div class="info">
  <p style="text-align:justify">Thank you for participating in this user study. We are studying how a software system can help people to find themes (topics) in a collection of documents. In this study the documents will be news articles and tweets. This study session will consist of a tutorial, task, and a post-task questionnaire. The whole process will take no more than 60 minutes.</p>

 <p style="text-align:justify">If you agree to participate in this user study, please provide your Upwork User ID and click on the "Agree" button.</p>
</div>
<br/>
<br/>

<!-- model type selection (this should be hidden prior to the user study) -->
<!-- <div>
  <md-select ng-model="modelType">
    <md-option ng-repeat="type in modelTypes" ng-value="type.value">{{type.modelName}}</md-option>
  </md-select>
</div> -->
<form class="login-form" ng-submit="submit(user, modelType)" flex>
    <md-input-container class="user-input">
        <input ng-model="user" placeholder="Upwork User ID"/>
    </md-input-container>
    <md-button class="md-raised md-primary submit-button" type="submit" aria-label="submit">ACCEPT</md-button>
</form>
</md-whiteframe>
