    <!-- TOOLBAR -->
    <md-toolbar layout="row" class="md-whiteframe-z2">
      <div class="md-toolbar-tools ">
        <h2 flex>
          <md-button class="title" aria-label="go to application home" href="/">ITM</md-button>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

<div layout="row" flex>
      <md-progress-circular class="loading" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
  <!-- SIDE NAV -->
  <!--<div flex="30">-->
   <md-sidenav
      layout="column"
        class="md-sidenav-left topic-list md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="true"
        md-disable-backdrop
        aria-label="topic list">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h3>
              <span ng-if="!mode" class="topic-list-heading">{{topics.length}} topics</span>
              <span ng-if="mode === 'merge'" class="topic-list-heading merge-info">select additional topics for merge</span>
            </h3>
            <span flex></span>
            <md-button ng-if="!mode" aria-label="save changes"  ng-show="refinements.length > 0" class="md-icon-button" ng-click="save()">
              <md-icon class="save-icon" md-font-icon="mdi mdi-content-save"></md-icon>
            </md-button>
            <md-button ng-if="mode === 'merge'" aria-label="cancel merge" class="md-icon-button" ng-click="cancelMerge()">
              <md-icon class="save-icon" md-font-icon="mdi mdi-window-close"></md-icon>
            </md-button>
            <md-button ng-if="mode === 'merge'" aria-label="accept merge" class="md-icon-button" ng-click="acceptMerge()">
              <md-icon class="save-icon" md-font-icon="mdi mdi-check"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content>
          <md-list >
            <topic-list-item ng-repeat="topic in topics" ng-if="!topic.merged" topic="topic" select="select"></topic-list-item>
            <div class="topic-merge-pair" ng-model="pair" ng-repeat="pair in merged">
                <md-button aria-label="undo merge" class="undo-merge md-fab md-mini md-accent" ng-click="undoMerge(pair)">
                  <md-tooltip>undo merge</md-tooltip>
                  <md-icon md-font-icon="mdi mdi-undo"></md-icon>
                </md-button>
              <topic-list-item ng-repeat="t in pair" topic="t" select="select"></topic-list-item>
            </div>
          </md-list>
        </md-content>
  </md-sidenav>
<!--</div>-->
  <div layout="column" flex>
    <!-- CONTENT -->
    <md-content layout="column" flex class="topic-panel md-padding">
        <topic topic="selectedTopic" ng-show="selectedTopic"></topic>
       <div flex></div>
    </md-content>
  </div>
</div>
