
    <!-- TOOLBAR -->
    <md-toolbar layout="row" class="md-hue-2">
      <div class="md-toolbar-tools ">
        <h2 flex>
          <span class="title">ITM</span>
        </h2>
        <span flex></span>
        <!--<timer countdown="1200" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>-->
        <timer ng-if="task.started" countdown="1800" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer>
        <!--<md-button aria-label="configure model" class="md-icon-button" ng-click="configureModel()">
          <md-tooltip>configure model</md-tooltip>
          <md-icon class="configure-icon" md-font-icon="mdi mdi-settings"></md-icon>
        </md-button> -->
        <md-button ng-if="tutorial.complete && !task.started" class="md-raised" ng-click="startTask()">START TASK</md-button>
        <md-button ng-if="task.started" class="md-raised" ng-click="finishTask()">FINISH TASK</md-button>
    <!--    <div id="stopWordsButton" class="stop-words mdi mdi-delete-forever" ng-click="addStopWord()">
          <md-tooltip>add selected word to trash words</md-tooltip>
        </div> -->
        <md-button class="md-raised md-accent" id="stopWordsButton" ng-click="addStopWord()">
          <!--<md-icon md-font-icon="mdi mdi-delete-forever"></md-icon>-->
          remove selected word from all topics
          <md-tooltip>add selected word to trash words</md-tooltip>
        </md-button>
        <!--<span class="username">{{user}}</span>-->
      </div>
    </md-toolbar>

    <!--<md-toolbar class="md-primary">
      <div class="md-toolbar-tools" layout="row">-->
      <div class="topic-refinement-info" layout="row" layout-align="center center">
        <span ng-if="refinements.length > 0"> {{refinements.length}} outstanding change(s)
        </span>
        <md-button  class="md-accent md-raised" id="clearRefinementsButton" aria-label="clear changes" ng-show="refinements.length > 0"
          ng-click="clearRefinements()">
          <md-tooltip> clear {{refinements.length}} outstanding change(s)</md-tooltip>
        <!--  <md-icon class="clear-icon" md-font-icon="mdi mdi-window-close"></md-icon> -->
          CLEAR ALL
        </md-button>
        <md-button class="md-accent md-raised" id="saveButton" aria-label="save changes"  ng-show="refinements.length > 0" ng-click="save()">
          <md-tooltip>save {{refinements.length}} outstanding change(s)</md-tooltip>
      <!--    <md-icon class="save-icon" md-font-icon="mdi mdi-content-save"></md-icon> -->
          SAVE ALL
        </md-button>
      </div>
  <!--  </md-toolbar> -->

<span layout="row">
    <tutorial ng-if="!tutorial.complete" flex="25"></tutorial>

<div layout="row" flex>
      <md-progress-circular class="loading" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
  <!-- SIDE NAV -->
  <!--<div flex="30">-->
   <md-sidenav
      layout="column"
        class="md-sidenav-left topic-list md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="true"
        md-disable-backdrop
        aria-label="topic list">
        <md-toolbar class="md-hue-1">
          <div class="md-toolbar-tools">
TOPIC LIST OF {{topics.length}} TOPICS FOR {{corpus}}:
          </div>
        </md-toolbar>
        <md-toolbar ng-if="mode === 'merge'" class="merge-toolbar">
          <div class="md-toolbar-tools">
            <h3>
              <span class="merge-info">select additional topics for merge</span>
            </h3>
            <span flex></span>
            <md-button aria-label="cancel merge" class="md-icon-button" ng-click="cancelMerge()">
              <md-tooltip>cancel merge</md-tooltip>
              <md-icon class="save-icon" md-font-icon="mdi mdi-window-close"></md-icon>
            </md-button>
            <md-button aria-label="accept merge" class="md-icon-button" ng-click="acceptMerge()">
              <md-tooltip>save the merged topics</md-tooltip>
              <md-icon class="save-icon merge-checkmark" md-font-icon="mdi mdi-check"></md-icon>
            </md-button>
          </div>
      </md-toolbar>
        <md-content>
          <md-list>
            <topic-list-item ng-repeat="topic in topics" ng-if="!topic.merged" topic="topic" select="select"></topic-list-item>
            <div class="topic-merge-pair" ng-model="pair" ng-repeat="pair in merged">
                <md-button aria-label="undo merge" class="undo-merge md-fab md-mini md-accent" ng-click="undoMerge(pair)">
                  <md-tooltip>undo topic merge</md-tooltip>
                  <md-icon md-font-icon="mdi mdi-undo"></md-icon>
                </md-button>
              <topic-list-item ng-repeat="t in pair" topic="t" select="select"></topic-list-item>
            </div>

          </md-list>
          <div layout="row" layout-align="center center">
            <md-button
              class="md-raised md-accent"
              id="createTopicButton"
              ng-click="createNewTopic()">
              <md-tooltip>create a new topic</md-tooltip>
              <md-icon md-font-icon="mdi mdi-plus"></mdi-icon> create a new topic...
              </md-button>
          </div>
        </md-content>
  </md-sidenav>
<!--</div>-->
    <!-- CONTENT -->
    <md-content layout="column" flex class="topic-panel">
        <topic topic="selectedTopic" stops="stops" vocab="vocab" ng-if="selectedTopic"></topic>
       <div flex></div>
    </md-content>
</div>
</span>
