<md-card class='tutorial-message md-body-2'>
  <md-card-title class="md-accent">
      <md-card-title-text layout="row">
        <span ng-if="questionnaire.step > 0">QUESTION {{questionnaire.step}} OF {{numQuestions}}</span>
      </md-card-title-text>
    </md-card-title>

<md-divider></md-divider>

<md-card-content>

  <!-- comment in for debugging workflow by skipping tutorial -->
  <span layout="row">
    <span flex></span>
    <md-button class="md-raised md-accent" ng-click="skipQuestionnaire()">
      <md-tooltip>skip button available for testing only - not during task</md-tooltip>
      skip questionnaire</md-button>
  </span>

  <span ng-show="questionnaire.step === 0">
      Please spend a minute or so reviewing these initial topics before starting the questionnaire.
  </span>

  <span ng-show="questionnaire.step === 1">
    On a scale of 1 (not at all satisfied) to 7 (very satisified), how satisfied are you with the system's organization of the tweets into categories of air travel complaints?

    <md-slider-container class="satisfaction-slider">
      1
      <md-slider flex min="1" max="7" md-discrete ng-model="questionnaire.answers[questionnaire.step]" aria-label="satisfaction" id="satisfaction-slider">
      </md-slider>
    <!--  <md-input-container>
        <input flex type="number" ng-model="answers[questionnaire.step]" aria-label="satisfaction" aria-controls="satisfaction-slider">
      </md-input-container> -->
      7
    </md-slider-container>
  </span>

  <span ng-show="questionnaire.step === 2">
    Why did you pick that rating?

    <md-input-container>
      <input type="text" ng-model="questionnaire.answers[questionnaire.step]"></input>
    </md-input-container>
  </span>

  <span ng-show="questionnaire.step === 3">
    <p>Remember that you have many different ways to improve the system's organization of the topics.
    <br/>
    <br/>
    Which of these ways of refining the topics do you think will be most useful for your task?
    </p>
    <md-radio-group ng-model="questionnaire.answers[questionnaire.step]">
      <md-radio-button ng-repeat="refinement in randomRefs" value="{{refinement.value}}">{{refinement.name}}</md-radio-button>
   </md-radio-group>
 </span>

   <span ng-show="questionnaire.step === 4">
     <p>Why do you think that refinement will be most useful for your task?</p>
    <md-input-container>
      <input type="text" ng-model="questionnaire.answers[questionnaire.step]"></input>
    </md-input-container>
  </span>
</md-card-content>

<md-card-actions class="tutorial-buttons" layout="row" layout-align="center center">
  <md-button
  ng-if="questionnaire.step === 0"
  class="md-raised md-primary" ng-click="questionnaire.step = 1">START QUESTIONNAIRE</md-button>
  <!--<md-button
  class="md-raised md-accent" ng-click="skipQuestionnaire()">SKIP QUESTIONNAIRE</md-button>-->
  <md-button
  ng-if="questionnaire.step > 0"
  class="md-raised md-primary" ng-click="submitAnswer(questionnaire.step)" ng-disabled="!questionnaire.answers[questionnaire.step]">SUBMIT</md-button>
</md-card-actions>

</md-card>
