<md-button ng-if="topic.split" aria-label="undo split" class="undo-split md-fab md-mini md-accent" ng-click="undoSplit(topic)">
	<md-tooltip>undo split</md-tooltip>
    <md-icon md-font-icon="mdi mdi-undo"></md-icon>
</md-button>
<md-button ng-if="topic.created" aria-label="remove new topic" class="undo-split md-fab md-mini md-accent" ng-click="undoCreateNew(topic)">
	<md-tooltip>remove created topic</md-tooltip>
    <md-icon md-font-icon="mdi mdi-undo"></md-icon>
</md-button>
<md-list-item ng-if="renaming" class="topic-list-item renaming">
	<md-input-container md-no-float ng-focus="true" class="md-block">
    	<input ng-focus="true" class="topic-name-input" ng-model="topic.name" placeholder="Topic Name">
     </md-input-container>
		 <md-button ng-click="saveName(topic)" class="md-secondary md-raised">SAVE</md-button>
		 <md-button ng-click="cancelName(topic)" class="md-secondary md-raised">CANCEL</md-button>
</md-list-item>
<md-list-item ng-if="!renaming" class="topic-list-item noright" ng-class="{selected:topic.selected, merge:topic.merge, split:topic.split}" ng-click="select(topic)">

	<p>
		<md-icon class="topic-icon md-secondary" ng-if="topic.selected" aria-label="rename topic" ng-click="rename(topic)" md-font-icon="mdi mdi-pencil">
			<md-tooltip>rename topic</md-tooltip>
		</md-icon>
		<span class="topic-label">{{topic.topic}}</span>
		<span class="topic-words">{{topic.displayWords}}</span>
	</p>

	<md-button ng-if="(topic.selected && !topic.split && !(topic.created || topic.creating)) || topic.merged" ng-class="{highlight:topic.merged}" class="md-secondary merge-button md-raised"
		aria-label="merge topic"
		ng-click="merge(topic)"
		ng-disabled="topic.merged || topic.splitting || topic.merge">
		<span ng-if="topic.merged">TOPIC MERGED</span>
		<span ng-if="!topic.merged">MERGE</span>
		<md-tooltip ng-if="topic.merged || (!topic.merged && !topic.merge && !topic.splitting)">
			<span ng-if="!topic.merged && !topic.merge && !topic.splitting">merge topic with other topics</span>
			<span ng-if="topic.merged">topic merge specified, click save to update model</span>
		</md-tooltip>
	</md-button>
		<md-button ng-if="(topic.selected && !topic.merged && !(topic.created || topic.creating)) || topic.split" ng-class="{highlight:topic.split}" class=" md-secondary split-button md-raised"
		ng-click="split(topic)"  aria-label="split-topic"
		ng-disabled="topic.split || topic.merge || topic.splitting">
		<span ng-if="topic.split">TOPIC SPLIT</span>
		<span ng-if="!topic.split">SPLIT</span>
		<md-tooltip ng-if="topic.split || (!topic.split && !topic.merge && !topic.splitting)">
			<span ng-if="!topic.split && !topic.merge && !topic.splitting">split topic into two separate topics</span>
			<span ng-if="topic.split">topic split specified, click save to update model</span>
		</md-tooltip>
	</md-button>
	<!--<md-icon ng-if="(topic.selected && !topic.split && !(topic.created || topic.creating)) || topic.merged" ng-class="{highlight:topic.merged}" class="topic-icon md-secondary merge-button md-accent" aria-label="merge topic" ng-click="merge(topic)" ng-disabled="topic.merged || topic.splitting || topic.merge" md-font-icon="mdi mdi-call-merge">
		<md-tooltip ng-if="topic.merged || (!topic.merged && !topic.merge && !topic.splitting)">
			<span ng-if="!topic.merged && !topic.merge && !topic.splitting">merge topic with other topics</span>
			<span ng-if="topic.merged">topic merge specified, click save to update model</span>
		</md-tooltip>
	</md-icon>-->
	<!--<md-icon ng-if="(topic.selected && !topic.merged && !(topic.created || topic.creating)) || topic.split" ng-class="{highlight:topic.split}" class="topic-icon md-secondary split-button md-accent" ng-click="split(topic)" md-font-icon="mdi mdi-call-split" aria-label="split-topic"
	ng-disabled="topic.split || topic.merge || topic.splitting">
		<md-tooltip ng-if="topic.split || (!topic.split && !topic.merge && !topic.splitting)">
			<span ng-if="!topic.split && !topic.merge && !topic.splitting">split topic into two separate topics</span>
			<span ng-if="topic.split">topic split specified, click save to update model</span>
		</md-tooltip>
	</md-icon>-->
</md-list-item>
