<md-card class="topic-card">
	<md-card-title>
		<md-card-title-text>

				<md-toolbar class="topic-toolbar" ng-show="topic.splitting || topic.split || topic.creating || topic.created">
		<div class="md-toolbar-tools">
			<span ng-if="topic.splitting">Drag words between the sub topics below to split the topic.</span>
			<span ng-if="topic.split">
				Unable to make topic-level changes with outstanding "split" refinement. Please save refinements to continue refining this topic.
			</span>
			<span ng-if="topic.creating">
				Add words to your new topic.
			</span>
			<span ng-if="topic.created">
				Unable to make topic-level changes with outstanding "create topic" refinement. Please save refinements to continue refining this topic.
			</span>
			<span flex></span>
			<md-button ng-if="topic.splitting" aria-label="cancel split" class="md-icon-button" ng-click="cancelSplit()">
				<md-tooltip>cancel splitting; all changes will be discarded</md-tooltip>
              <md-icon class="save-icon" md-font-icon="mdi mdi-window-close"></md-icon>
            </md-button>
            <md-button ng-if="topic.splitting" aria-label="accept split" class="md-icon-button" ng-click="acceptSplit()">
            	<md-tooltip>save the split topic</md-tooltip>
              <md-icon class="save-icon" md-font-icon="mdi mdi-check"></md-icon>
            </md-button>
						<md-button ng-if="topic.creating" aria-label="delete new topic" class="md-icon-button" ng-click="cancelCreate()">
							<md-tooltip>cancel create topic; all changes will be discarded</md-tooltip>
										<md-icon class="save-icon" md-font-icon="mdi mdi-close"></md-icon>
									</md-button>
									<md-button ng-disabled="topic.words.length === 0" ng-if="topic.creating" aria-label="accept created topic" class="md-icon-button" ng-click="acceptCreate()">
										<md-tooltip>save the created topic after adding some words</md-tooltip>
										<md-icon class="save-icon" md-font-icon="mdi mdi-check"></md-icon>
									</md-button>
        </div>
        </md-toolbar>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>


		<div class="word-holder" layout="row">
			<span class="topic-a" flex>
				<span class="sub-topic-name" ng-if="topic.splitting || topic.split">SUB TOPIC A</span>
			<md-chips
				id="topicA"
				ng-if="topic"
				placeholder="add new word..."
				secondary-placeholder="add new word..."
				ng-model="topic.words"
				md-on-select="selectWord($chip)"
				md-on-add="addWord($chip)"
				md-on-remove="removeWord($chip, $index)"
				md-transform-chip="transform($chip)"
				readonly="topic.splitting || topic.split">
				<md-chip-template ng-class="$chip.status"
					ng-mouseenter="hoverWord($chip)"
					ng-mouseleave="unhoverWord($chip)"
				 	class="topic-chip-template">
		          <strong md-chip-draggable
		          	ng-style="{{$chip.style}}">{{$chip.word}}</strong>
		         <!-- <em>({{$chip.weight}})</em> -->
		        </md-chip-template>,
		          <button md-chip-remove class="topic-chip-remove md-icon-button">
		          	<md-icon ng-if="$chip.status !== 'unevaluated'" md-font-icon="mdi mdi-undo"></md-icon>
			        <md-icon ng-if="$chip.status === 'unevaluated'" md-font-icon="mdi mdi-close"></md-icon>
			      </button>
			</md-chips>
		</span>
		<span class="topic-b" ng-if="topic.splitting || topic.split" flex="50">
			<span class="sub-topic-name">SUB TOPIC B</span>
			<md-chips
				id="topicB"
				placeholder="add new word.."
				secondary-placeholder="add new word..."
				ng-model="topic.subwords"
				md-on-select="selectWord($chip)"
				md-on-add="addWord($chip)"
				md-on-remove="removeWord($chip, $index)"
				md-transform-chip="transform($chip)"
				readonly="topic.splitting || topic.split">
				<md-chip-template
					ng-mouseenter="hoverWord($chip)"
					ng-mouseleave="unhoverWord($chip)"
					ng-class="$chip.status"
					class="topic-chip-template">
		          <strong md-chip-draggable ng-style="{{$chip.style}}">{{$chip.word}}</strong>
		         <!-- <em>({{$chip.weight}})</em> -->
		        </md-chip-template>,
		          <button md-chip-remove class="topic-chip-remove md-icon-button">
		          	<md-icon ng-if="$chip.status !== 'unevaluated'" md-font-icon="mdi mdi-undo"></md-icon>
			        <md-icon ng-if="$chip.status === 'unevaluated'" md-font-icon="mdi mdi-close"></md-icon>
			      </button>
			</md-chips>
		</span>
		</div>
		<div class="document-holder">
			<md-list>
				<md-list-item class="document-list-item" ng-class="document.status" ng-repeat="document in topic.docs">
					<!--<div class="document-name">
						{{document.docid}} ({{document.prob}})
						<span class="document-category">{{document.category}}</span>
						</div>-->
					<span class="document-snippet">
						<span ng-if="document.hasMore && !document.more"  ng-bind-html="highlight(document.snippet, hoveredWord, selectedWord)"></span>
						<span ng-if="!document.hasMore || document.more"  ng-bind-html="highlight(document.text, hoveredWord, selectedWord)"></span>
						<span ng-if="document.hasMore">
							<span class="toggle-doc" ng-if="!document.more" ng-click="document.more=true">show more</span>
							<span class="toggle-doc" ng-if="document.more" ng-click="document.more=false">show less</span>
						</span>
					</span>
					<button ng-if="!topic.splitting && !topic.split"class="doc-remove md-secondary" ng-click="removeDocument(document)">
						<md-icon ng-if="document.status === 'unevaluated'" aria-label='remove document' md-font-icon='mdi mdi-close'>
							<md-tooltip>remove document from topic</md-tooltip>
						</md-icon>
						<md-icon ng-if="document.status === 'removed'" aria-label='undo remove document' md-font-icon='mdi mdi-undo'>
							<md-tooltip>undo remove document from topic</md-tooltip>
						</md-icon>
					</button>
					<md-divider></md-divider>
				</md-list-item>
		<!--		<md-list-item class="more-documents" ng-click="moreDocuments()">show more documents</md-list-item> -->
			</md-list>
		</div>
	</md-card-content>
</md-card>
