<md-card class="topic-card">
	<md-card-title>
		<md-card-title-text>
		<!--			<div class="trash-can" ng-show="trash">
			<md-button ng-click="trashWord()" aria-label="trash word" class="md-icon-button">
				<md-tooltip>add selected word to stop words list</md-tooltip>
				<md-icon md-font-icon="mdi mdi-delete"></md-icon>
			</md-button>
		</div> -->
		</md-card-title-text>
	</md-card-title>
	<md-card-content>

		<div class="word-holder">
			<md-chips 
				ng-if="topic" 
				secondary-placeholder="add new word..." 
				ng-model="topic.words" 
				md-on-select="selectWord($chip) " 
				md-on-add="addWord($chip)" 
				md-on-remove="removeWord($chip, $index)" 
				md-transform-chip="transform($chip)">
				<md-chip-template ng-class="$chip.status" class="topic-chip-template">
		          <strong>{{$chip.word}}</strong>
		         <!-- <em>({{$chip.weight}})</em> -->
		        </md-chip-template>
		          <button md-chip-remove class="topic-chip-remove md-icon-button">
		          	<md-icon ng-if="$chip.status !== 'unevaluated'" md-font-icon="mdi mdi-undo"></md-icon>
			        <md-icon ng-if="$chip.status === 'unevaluated'" md-font-icon="mdi mdi-window-close"></md-icon>
			      </button>
			</md-chips>
		</div>
		<div class="document-holder">
			<md-list>
				<md-list-item class="document-list-item" ng-class="document.status" ng-repeat="document in topic.docs">
					<div class="document-name">{{document.id}}</div>
					<span class="document-snippet">{{document.snippet}}</span>
					<md-icon ng-if="document.status === 'unevaluated'" ng-click="removeDocument(document)" aria-label='remove document' class='md-secondary' md-font-icon='mdi mdi-window-close'>
						<md-tooltip>remove document from topic</md-tooltip>
					</md-icon>
					<md-icon ng-if="document.status === 'removed'"ng-click="undoRemove(document)" aria-label='undo remove document' class='md-secondary' md-font-icon='mdi mdi-undo'>
						<md-tooltip>undo remove document from topic</md-tooltip>
					</md-icon>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>
	</md-card-content>
</md-card>