  <!--<md-toolbar class="md-accent" >
  <div class="md-toolbar-tools md-title" layout="row">
    <span>TUTORIAL</span>
    <span flex></span>
    <span>STEP {{tutorial.step}} OF 30</span>
  </div>

</md-toolbar> -->
<!--<md-progress-linear class="md-primary" md-mode="determinate" value="{{tutorial.step*3}}"></md-progress-linear> -->
<!--<div class="tutorial-message">
  <span ng-bind-html="tutorialMessages[tutorial.step]"></span>
  <md-button ng-if="tutorial.step < 4 || tutorial.step === 6 || tutorial.step === 8 || tutorial.step === 10 || tutorial.step === 13|| tutorial.step === 15 || tutorial.step === 17 || tutorial.step === 19 || tutorial.step === 21 || tutorial.step === 23" class="md-raised md-primary" ng-click="tutorialNext()">next</md-button>
  <md-button lass="md-raised md-primary" ng-click="endTutorial()" ng-if="tutorial.step === 26">finish</md-button>
</div>-->

<md-card class='tutorial-message md-body-2'>
  <md-card-title class="md-accent">
      <md-card-title-text>
        <div class="tutorial-title">TUTORIAL</div>
        <div class="tutorial-steps">STEP {{tutorial.step+1}} OF {{tutorialSteps+1}}</div>
      </md-card-title-text>
    </md-card-title>

<md-divider></md-divider>

<md-card-content>
  <!-- comment in for debugging tutorial by jumping to specific step -->
<!--<md-select ng-model="tutorial.step">
    <md-option ng-value="num" ng-repeat="num in tutorialRange">{{num}}</md-option>
  </md-select>-->

  <!-- comment in for debugging workflow by skipping tutorial -->
 <!--<span layout="row">
    <span flex></span>
    <md-button class="md-raised md-accent" ng-click="endTutorial()">
      <md-tooltip>skip button available for testing only - not during task</md-tooltip>
      skip tutorial</md-button>
  </span>-->

  <span ng-show="tutorial.step === 0">
<ul>
  <li>To the right is a topic model that shows 10 topics the system has identified in a set of 2,225 news articles.</li>
</ul>
</span>

<span ng-show="tutorial.step === 1">
<ul>
  <li>The panel in the middle shows the 10 topics, each one labeled with the three words that the system thinks are most relevant to that topic.</li>
  <li>When a topic is selected, more detail is shown on the right: the 20 top (most relevant) words and the 20 top (most relevant) documents associated with that topic.</li>
  <li><span class="tutorial-command">Click Topic 1</span> and read through the words and documents for those topics. <span class="tutorial-command">Do the same for Topic 8.</span></li>
  <li>Take a minute to explore through the topics, words, and documents.</li>
</ul>
</span>

<span ng-show="tutorial.step === 2">
<ul>
  <li>We can rename topics to help better remember what they are about, such as Topic 4, which appears to be about sports.</li>
  <li><span class="tutorial-command">Click Topic 4</span> and then click <md-icon class="topic-icon" aria-label="rename topic" md-font-icon="mdi mdi-pencil">
  </md-icon></li>
  <li><span class="tutorial-command">Change the text in the input from TOPIC 4 to SPORTS and click <img class="tutorial-image" src="../images/saveName.png"></img></span></li>
  <li>The name is now updated for the topic in the list.</li>
</ul>
</span>

<span ng-show="tutorial.step === 3" >
  <ul>
    <li>Hovering over one of the top 20 words will  highlight it in the documents. <span class="tutorial-command">Click Topic 8 and hover over the word 'fashion'</span>.</li>
    <li>Clicking on a top word will keep it highlighted as you scroll through the documents. <span class="tutorial-command">Click on the word 'art' in Topic 8</span>.
  </ul>
</span>

<span ng-show="tutorial.step === 4">
  <ul>
    <li>Topic models are not always perfect.</li>
    <li>Some words or documents may not make sense with the rest of the topic and should be removed.</li>
    <li>Words may be missing and should be added.</li>
    <li>A topic may include two distinct sub-topics, meaning that it should be split, or it may be similar to another topic, meaning that it should be merged with the other topic.</li>
    <li>Especially bad topics should be deleted entirely, and new topics should be created to capture themes that are missing.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 5">
  <ul>
    <li>This tutorial will take you through nine possible ways to fix these and other problems.</li>
    <li>These refinements include: add word, remove word, trash word, change word order, remove document, split topic, merge topics, delete topic, and create new topic.</li>
    <li>It is possible that your refinements will not always be applied exactly as you expect, because the model incorporates them along with its understanding of all of the words and documents in the data.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 6">
  <ul>
    <li>ADD WORD: add a word to the list of top words for a topic by clicking 'add new word' at the end of that list and then typing the word and pressing enter or selecting the match from the drop down menu.</li>
    <li><span class='tutorial-command'>Click on Topic 2</span>, which appears to be a topic about films and music.</li>
    <li><span class='tutorial-command'>Add the word 'oscar'</span> to Topic 2.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 7">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 8">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
    <li>The word 'oscar' has been added to Topic 2.</li>
    <li>During the task, if you are not happy with the updated model, you can undo your change by clicking <img class="tutorial-image" src="../images/undo.png"></img> at the top of the tool.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 9">
  <ul>
    <li>DELETE TOPIC: Delete a topic by clicking to select the topic and then clicking <img class="tutorial-image" src="../images/delete.png"></img> to the top right of the topic view.</li>
    <li>Let's delete Topic 7. <span class='tutorial-command'>Click to select Topic 7 and click <img class="tutorial-image" src="../images/delete.png"></img>.
  </ul>
</span>

<span ng-show="tutorial.step === 10">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 11">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
    <li>Topic 7 has been deleted and the model now has one less topic than before.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 12">
  <ul>
    <li>ADD WORD TO TRASH: Sometimes there are words that don’t belong in any of the topics of the model. You can remove a word from all topics in the model by adding it to the trash, and you do so by selecting a word and then clicking <div><img class="trash tutorial-image" src="../images/trash.png"></img></div> at the top-right of the page.</li>
  <li>Add the word 'nbsp' to the trash, since it is a text processing error and is not meaningful for any of the topics in the model. First <span class='tutorial-command'>click Topic 1</span> and then <span class='tutorial-command'>click the word 'nbsp'</span>. Finally, <span class='tutorial-command'>click
    <div><img class="tutorial-image trash" src="../images/trash.png"></img></div></span></li></ul>
</span>

<span ng-show="tutorial.step === 13">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 14">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
    <li>The word 'nbsp' has been added to the trash and therefore removed from all topics in the model.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 15">
  <ul>
    <li>CHANGE WORD ORDER: Reorder a word to emphasize its relative importance by dragging it to a different position in the top words list.</li>
    <li>Let's make the word "album" more important to Topic 2. <span class='tutorial-command'>Click Topic 2</span>.</li>
    <li> Now, <span class='tutorial-command'>drag the word 'album' so that it’s the third most important word in the topic behind 'music' and before 'oscar'</span>.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 16">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 17">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 18">
  <ul>
    <li>REMOVE WORD: remove a word from a topic by clicking <button class="tutorial-element remove-button md-icon-button">
      <md-icon md-font-icon="mdi mdi-close"></md-icon>
    </button> next to the word in the top words list.</li>
    <li>The word 'schools' doesn't belong with the other words in Topic 3. <span class='tutorial-command'>Remove the word 'schools' from Topic 3</span>.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 19">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 20">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
  </ul>
</span>

<!-- STEP DIFFERENTIATING BETWEEN TRASH AND REMOVE -->
<span ng-show="tutorial.step === 21">
  <ul>
    <li>Remember:</li>
      <ul>
        <li><strong>Removing</strong> a word by clicking <button class="tutorial-element remove-button md-icon-button">
        <md-icon md-font-icon="mdi mdi-close"></md-icon>
      </button> next to it removes that word from a <strong>single</strong> topic.</li>
        <li><strong>Trashing</strong> a word by selecting it then clicking <div><img class="double trash tutorial-image" src="../images/trash.png"></img></div> removes it from <strong>all</strong> topics.</li>
      </ul>
  </ul>
</span>

<span ng-show="tutorial.step === 22">
  <ul>
    <li>REMOVE DOCUMENT: Click <button class="tutorial-element remove-doc-button">
        <md-icon class='remove-doc' aria-label='remove document' md-font-icon='mdi mdi-close'>
        </md-icon>
      </button> next to a document to remove it from a topic.</li>
    <li><span class='tutorial-command'>Click Topic 6</span>, which appears to be about government and laws. <span class='tutorial-command'>Remove the fourth document</span>, which is about the Grammy awards and doesn't belong with the rest.</li>
    </ul>
</span>

<span ng-show="tutorial.step === 23">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 24">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 25">
  <ul>
    <li>MERGE TOPICS: Similar topics can be merged.</li>
    <li>Both Topic 2 and Topic 8 appear to be about art and entertainment, so let's merge them. First <span class='tutorial-command'>click Topic 2</span>, then <span class='tutorial-command'>click <img class="tutorial-image" src="../images/merge.png"></img></span>. Now,
 <span class='tutorial-command'>click to select Topic 8</span> and <span class='tutorial-command'>press
   <md-icon class="tutorial-element save-icon merge-checkmark" md-font-icon="mdi mdi-check"></md-icon></span> to complete the merge.</li>
 </ul>
</span>

<span ng-show="tutorial.step === 26">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 27">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
    <li>Topic 2 and Topic 8 have been merged into TOPIC 2_TOPIC 8, and the model now contains one less topic than before.
  </ul>
</span>

<span ng-show="tutorial.step === 28">
  <ul>
    <li>CREATE NEW TOPIC: Create a new topic by clicking <img class="tutorial-image" src="../images/create.png"></img> at the bottom of the topic list and adding a few words to describe it.</li>
    <li> Remember to press 'Enter' or select the matching word from the drop down after typing each word.</li>
    <li>You should provide at least 3 words to create a new topic. If you provide more words, the system will be able to create a better topic for you.</li>
    <li>Let's create a new topic about technology. <span class='tutorial-command'>Click <img class="tutorial-image" src="../images/create.png"></img>.</span></li>
    <li><span class='tutorial-command'> Add the word 'iphone', add the word 'mobile', add the word 'internet', and add the word 'facebook' to the new topic.</span></li>
    <li><span class='tutorial-command'>Click <md-icon class="tutorial-element save-icon merge-checkmark" md-font-icon="mdi mdi-check"></md-icon></span></li>
  </ul>
</span>

<span ng-show="tutorial.step === 29">
  <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
</span>

<span ng-show="tutorial.step === 30">
  <ul>
    <li>Here is the updated model with your refinement applied.</li>
    <li>Your new topic is at the end of the list and the model now contains one additional topic than before</li>
  </ul>
</span>

<span ng-show="tutorial.step === 31">
  <ul>
    <li>SPLIT TOPIC: a topic can be split into two smaller sub-topics.</li>
    <li>Let’s split Topic 5, which appears to be about banking and business topic into topics about banking and business, respectively. <span class='tutorial-command'>click Topic 5</span> then <span>click <img class="tutorial-image" src="../images/split.png"></img></span></li>
    <li>The topic words can now be placed in sub-topic 'A' or sub-topic 'B'.</li>
    <li><span class='tutorial-command'>Drag the words about business (like 'company', 'companies' and 'business') into sub-topic 'B' and leave the words more about banking in sub-topic 'A'</span>. <span class='tutorial-command'>When you are done, press <md-icon class="tutorial-element save-icon merge-checkmark" md-font-icon="mdi mdi-check"></md-icon></span>.</li>
  </ul>
  </span>

  <span ng-show="tutorial.step === 32">
    <ul><li>The algorithm is working to update the model based on your change. Please wait while it finishes updating.</li></ul>
  </span>


<span ng-show="tutorial.step === 33">
  <ul>
    <li>Here is the updated model.</li>
    <li>The model has one additional topic than before because the banking and business topic (Topic 5) was split into two separate topics.</li>
    <li>Sub Topic 'A' remained as Topic 5 and Sub Topic 'B' became SPLIT_FROM_topic 5.</li>
    <li>Let's undo this change by clicking <img class="tutorial-image" src="../images/undo.png"></img> at the top of the tool.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 34">
  <ul>
    <li>This is the model after undoing the last refinement.</li>
  </ul>
</span>

<span ng-show="tutorial.step === 35">
  <ul>
    <li>You've now seen the nine different changes you can perform in the tool: add word, remove word, trash word, change word order, remove document, delete topic, create topic, merge topic, split topic.</li>
    <li>Remember that the system may not always apply your refinements as you expect, because they are incoporated along with the system's understanding of all of the words and documents in the data.</li>
    <li>And, remember that if you are unhappy with the topics after an update you can undo any change by clicking <img class="tutorial-image" src="../images/undo.png"></img> at the top of the tool.</li>
    <li>It may take many rounds of applying these changes before you are happy with the model.</li>
    </ul>
  </span>
</md-card-content>

<md-card-actions class="tutorial-buttons" layout="row" layout-align="center center">
  <!-- ng-disabled="!tutorial.nextEnabled"  -->
  <md-button ng-hide="tutorial.step === tutorialSteps"
  ng-disabled="!tutorial.nextEnabled"
  class="md-raised md-primary" ng-click="tutorialNext()">next</md-button>

  <md-button class="md-raised md-accent" ng-click="endTutorial()" ng-if="tutorial.step === tutorialSteps">finish tutorial</md-button>
    <md-button class="md-raised md-accent" ng-click="endTutorial()" ng-if="tutorial.step !== tutorialSteps">skip tutorial</md-button>
</md-card-actions>

</md-card>
